.header{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--red);
    border-radius: 8px;
    color: var(--white);
    font-weight: 500;
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0 16px;
}